### Archivos de configuración sensibles ###
.env
.env.*
src/main/resources/application.properties
src/main/resources/application-local.properties
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties

### Java / Maven / Gradle ###
HELP.md
target/
build/
*.class
*.jar
*.war
*.log

### Maven Wrapper ###
.mvn/
.mvn/wrapper/maven-wrapper.jar

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
